<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="main.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
<configuration>
  <system.webServer>
    <handlers>
      <add name="ASPClassic" 
           path="*.asp" 
           verb="*" 
           modules="IsapiModule" 
           scriptProcessor="%windir%\system32\inetsrv\asp.dll" 
           resourceType="File" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576"/> <!-- 1MB -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- 明确声明支持HTTP/1.1 -->
        <add name="X-HTTP-Version" value="HTTP/1.1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
</configuration>